<p id="notice"><%= notice %></p>

<p>
  <strong>Date debut:</strong>
  <%= @permission.date_debut %>
</p>

<p>
  <strong>Date fin:</strong>
  <%= @permission.date_fin %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
