<%= simple_form_for(@persocla) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :persocate %>
    <%= f.input :num_cla %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
