<p id="notice"><%= notice %></p>

<p>
  <strong>Persocate:</strong>
  <%= @persocla.persocate %>
</p>

<p>
  <strong>Num cla:</strong>
  <%= @persocla.num_cla %>
</p>

<%= link_to 'Edit', edit_persocla_path(@persocla) %> |
<%= link_to 'Back', persoclas_path %>
