<h1>Listing echellons</h1>

<table>
  <thead>
    <tr>
      <th>Persocla</th>
      <th>Num echellon</th>
      <th>Salaire indice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @echellons.each do |echellon| %>
      <tr>
        <td><%= echellon.persocla %></td>
        <td><%= echellon.num_echellon %></td>
        <td><%= echellon.salaire_indice %></td>
        <td><%= link_to 'Show', echellon %></td>
        <td><%= link_to 'Edit', edit_echellon_path(echellon) %></td>
        <td><%= link_to 'Destroy', echellon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Echellon', new_echellon_path %>
