<%= simple_form_for @personnel, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.file_field :cover %>
  <%= f.input :n_decision %>
  <%= f.input :n_mle %>
  <%= f.input :n_nina %>
  <%= f.input :nom %>
  <%= f.input :prenom %>
  <%= f.input :date_nai %>
  <%= f.input :lieu_nai %>
  <%= f.input :sexe %>
  <%= f.input :situ_f %>
  <%= f.input :nb_enf %>
  <%= f.input :corps %>
  <%= f.input :em_occ %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :compte_banc %>
  <%= f.input :address %>
  <%= f.input :date_recr %>
  <%= f.input :salaire_b %>
  <%= f.input :regime_matrimonial %>
  <%= f.input :nom_prenom_pere %>
  <%= f.input :date_nai_pere %>
  <%= f.input :nom_prenom_mere %>
  <%= f.input :date_nai_mere %>
  <%= f.input :etat %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                personnels_path, :class => 'btn' %>
  </div>
<% end %>
