<%- model_class = Personnel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= search_form_for @q do |f| %>

  <%= f.label :n_decision_or_n_mle_or_nom_or_prenom_cont, "-" %>
  <%= f.search_field :n_decision_or_n_mle_or_nom_or_prenom_cont %>


  <%= f.submit %>
<% end %>
<hr/>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= sort_link @q, :n_decision, model_class.human_attribute_name(:n_decision) %></th>
      <th><%= sort_link @q, :n_mle, model_class.human_attribute_name(:n_matriculle) %></th>
      <th><%= sort_link @q, :nom, model_class.human_attribute_name(:nom) %></th>
      <th><%= sort_link @q, :prenom, model_class.human_attribute_name(:prenom) %></th>
      <!--
      <th><%= model_class.human_attribute_name(:n_nina) %></th>
      <th><%= model_class.human_attribute_name(:date_nai) %></th>
      <th><%= model_class.human_attribute_name(:lieu_nai) %></th>
      <th><%= model_class.human_attribute_name(:sexe) %></th>
      <th><%= model_class.human_attribute_name(:situ_f) %></th>
      <th><%= model_class.human_attribute_name(:nb_enf) %></th>
      <th><%= model_class.human_attribute_name(:corps) %></th>
      <th><%= model_class.human_attribute_name(:em_occ) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:compte_banc) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:date_recr) %></th>
      <th><%= model_class.human_attribute_name(:salaire_b) %></th>
      <th><%= model_class.human_attribute_name(:regime_matrimonial) %></th>
      <th><%= model_class.human_attribute_name(:nom_prenom_pere) %></th>
      <th><%= model_class.human_attribute_name(:date_nai_pere) %></th>
      <th><%= model_class.human_attribute_name(:nom_prenom_mere) %></th>
      <th><%= model_class.human_attribute_name(:date_nai_mere) %></th>
      <th><%= model_class.human_attribute_name(:etat) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    -->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @personnels.each do |personnel| %>
      <tr>
        <td><%= link_to personnel.id, personnel_path(personnel) %></td>
        <td><%= personnel.n_decision %></td>
        <td><%= personnel.n_mle %></td>
        <td><%= personnel.nom %></td>
        <td><%= personnel.prenom %></td>
        <!--
        <td><%= personnel.n_nina %></td>
        <td><%= personnel.date_nai %></td>
        <td><%= personnel.lieu_nai %></td>
        <td><%= personnel.sexe %></td>
        <td><%= personnel.situ_f %></td>
        <td><%= personnel.nb_enf %></td>
        <td><%= personnel.corps %></td>
        <td><%= personnel.em_occ %></td>
        <td><%= personnel.phone %></td>
        <td><%= personnel.email %></td>
        <td><%= personnel.compte_banc %></td>
        <td><%= personnel.address %></td>
        <td><%= personnel.date_recr %></td>
        <td><%= personnel.salaire_b %></td>
        <td><%= personnel.regime_matrimonial %></td>
        <td><%= personnel.nom_prenom_pere %></td>
        <td><%= personnel.date_nai_pere %></td>
        <td><%= personnel.nom_prenom_mere %></td>
        <td><%= personnel.date_nai_mere %></td>
        <td><%= personnel.etat %></td>
        <td><%=l personnel.created_at %></td>
      -->
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      personnel_path(personnel), :class => 'btn btn-info btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_personnel_path(personnel), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      personnel_path(personnel),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_personnel_path,
            :class => 'btn btn-primary' %>
