<p id="notice"><%= notice %></p>

<p>
  <strong>N decision:</strong>
  <%= @personnel.n_decision %>
</p>

<p>
  <strong>N mle:</strong>
  <%= @personnel.n_mle %>
</p>

<p>
  <strong>N nina:</strong>
  <%= @personnel.n_nina %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @personnel.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @personnel.prenom %>
</p>

<p>
  <strong>Date nai:</strong>
  <%= @personnel.date_nai %>
</p>

<p>
  <strong>Lieu nai:</strong>
  <%= @personnel.lieu_nai %>
</p>

<p>
  <strong>Sexe:</strong>
  <%= @personnel.sexe %>
</p>

<p>
  <strong>Situ f:</strong>
  <%= @personnel.situ_f %>
</p>

<p>
  <strong>Nb enf:</strong>
  <%= @personnel.nb_enf %>
</p>

<p>
  <strong>Corps:</strong>
  <%= @personnel.corps %>
</p>

<p>
  <strong>Em occ:</strong>
  <%= @personnel.em_occ %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @personnel.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @personnel.email %>
</p>

<p>
  <strong>Compte banc:</strong>
  <%= @personnel.compte_banc %>
</p>

<p>
  <strong>Address:</strong>
  <%= @personnel.address %>
</p>

<p>
  <strong>Date recr:</strong>
  <%= @personnel.date_recr %>
</p>

<p>
  <strong>Salaire b:</strong>
  <%= @personnel.salaire_b %>
</p>

<p>
  <strong>Regime matrimonial:</strong>
  <%= @personnel.regime_matrimonial %>
</p>

<p>
  <strong>Nom prenom pere:</strong>
  <%= @personnel.nom_prenom_pere %>
</p>

<p>
  <strong>Date nai pere:</strong>
  <%= @personnel.date_nai_pere %>
</p>

<p>
  <strong>Nom prenom mere:</strong>
  <%= @personnel.nom_prenom_mere %>
</p>

<p>
  <strong>Date nai mere:</strong>
  <%= @personnel.date_nai_mere %>
</p>

<p>
  <strong>Etat:</strong>
  <%= @personnel.etat %>
</p>

<%= link_to 'Edit', edit_personnel_path(@personnel) %> |
<%= link_to 'Back', personnels_path %>
