<%= simple_form_for(@centre) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nom_centre %>
    <%= f.input :phone %>
    <%= f.input :address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
