<%- model_class = Centre -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nom_centre) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
  
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @centres.each do |centre| %>
      <tr>
        <td><%= link_to centre.id, centre_path(centre) %></td>
        <td><%= centre.nom_centre %></td>
        <td><%= centre.phone %></td>
        <td><%= centre.address %></td>
    
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_centre_path(centre), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      centre_path(centre),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_centre_path,
            :class => 'btn btn-primary' %>
