<%= simple_form_for @dece, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :date_dc, :label => 'Date' %>
  <%= f.input :local %>
  <%= f.input :nom %>
  <%= f.input :prenom %>
  <%= f.input :date_nai, :label => 'Date naissance' %>
  <%= f.input :lieu_nai, :label => 'Lieu naissance' %>
  <%= f.input :sexe %>
  <%= f.input :situ_mat, :label => 'Situtation matri' %>
  <%= f.input :profession %>
  <%= f.input :domicil %>
  <%= f.input :nom_prenom_pere %>
  <%= f.input :nom_prenom_mere %>
  <%= f.input :nom_prenom_declare %>
  <%= f.input :domicil_declare %>
  <%= f.input :profession_declare %>
  <%= f.input :date_declare_dece %>
  <%= f.input :nom_prenom_officie %>
  <%= f.input :qualite_officie %>
  <%= f.input :date_officie %>
  <%= f.input :n_volet %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                deces_path, :class => 'btn' %>
  </div>
<% end %>
