<div class="list-group">
    <%= link_to "ARTICLES", articles_path, :class=>"list-group-item"  %>
    <%= link_to "CADRES", cadres_path, :class=>"list-group-item"  %>
    <%= link_to "FORMAT PHOTO", formatphotos_path, :class=>"list-group-item"  %>
    <%= link_to "FOURNISSEURS", fournisseurs_path, :class=>"list-group-item"  %>
    <%= link_to "BOUTIQUES", boutiques_path, :class=>"list-group-item"  %>
    <%= link_to "CLIENTS", clients_path, :class=>"list-group-item"  %>
    <%= link_to "EMPLOYEE", employes_path, :class=>"list-group-item"  %>
    <%= link_to "BANQUE", banques_path, :class=>"list-group-item"  %>
    <%= link_to "CAISSE", coffres_path, :class=>"list-group-item"  %>
</div>

        
     